@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.section_navber {
    background-color: black;
    width: 100%;
}

.section_navber nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    color: #fff;
    width: 1170px;
    margin: 0 auto;
}

.section_navber nav .site_logo a {
    text-decoration: none;
    margin: 0 20px;
   }


.section_navber nav .site_logo a span{
font-family: 'Roboto', sans-serif;
font-weight: 700;
line-height: 20px;
font-size: 20px;
text-transform: capitalize;
color: #fff;
}

.section_navber nav .main_menu {
    margin: 0 40px;
}

.section_navber nav .main_menu ul {
list-style-type: none;
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
font-weight: 700;
line-height: 20px;
font-size: 20px;
text-transform: capitalize;
}

.section_navber nav .main_menu li {
    float: left;
}

.section_navber nav .main_menu ul li a {
text-decoration: none;
padding: 15px 10px;
color: #fff;
}

.section_navber nav .main_menu ul li a:hover {
    color: red;
    }

    .active {
        color: red;
    }